<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "customCSS.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <!-- NAVIGATION-->
<nav class="navbar navbar-default navbar-fixed-top customNavBar">
    <div class="container-fluid">
        <p class="navbar-text customNavBarLink"><a href="{% url 'watershed:GenerateGeoRSS' %}" class="navbar-link"> Home</a></p>

        <p class="navbar-text customNavBarLink"><a href="{% url 'watershed:twentymindrive_map' %}" class="navbar-link">20-Min-Travel</a></p>
        <p class="navbar-text customNavBarLink"><a href="{% url 'watershed:waterlevel_map' %}" class="navbar-link">Maintainance Service</a></p>
        <p class="navbar-text navbar-right customNavBarLink">
            <a class="navbar-link  " href="http://smartcities.mbrxdram5u.us-west-2.elasticbeanstalk.com/waterevent/"> Stormwater System</a></p>
  </div>
</nav>

    <div class="jumbotron text-center">
        <h1>Watershed Management System</h1>
        
    </div>

    <div class="container-fluid">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      
    
       <form action="" method="POST" role="form">
              <legend>Enter the {{ type }} Data:</legend>
                {% csrf_token %}
                {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.errors }}
                  <label>{{ field.label }}</label>
                  {{ field }}
                </div>
                {% endfor %}
              
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>  
    </div> 
    </div>

<!-- FOOTER -->
    <footer>
      <div class="container">
          <div class="col-md-6 col-sm-6 footerleft ">
            <div class="title-footer text-center"> About the Project</div>
            <p>This web application was made as part of the class Business Process Analysis, taught at the University of Maryland - Smith School of Business. It is the final project and served as a learning platform for the students to test and understand the different technologies. </p>
            <p>Through out the project, we learned the agile methodology and did a total of 6 sprints. Some of the techonologies and tools used in this app include Django, Python, ArcGis, Amazon AWS and Bootstrap .</p>


          </div>
          <div class="col-md-6 col-sm-6 paddingtop-bottom text-center">
            <h6 class="title-footer">About us</h6>
            <ul class="footer-ul text-center">
              <li><a href="https://www.linkedin.com/in/amiyakumardas/"> Amiya Das<br/> <i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/melissa-delcid-94380a8b/"> Melissa Delcid<br> <i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/kanchan-markandeya-041ba1b5/"> Kanchan Markandeya<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/yangmen/">Yang Men<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/zheng-gong-78396777/">Zheng Gong<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/gonche1124/"> Andres Gonzalez<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
            </ul>
          </div>
      </div>
    </footer>

</body>
</html>