<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "customCSS.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-fixed-top customNavBar">
    <div class="container-fluid">
        <p class="navbar-text customNavBarLink"><a href="{% url 'watershed:GenerateGeoRSS' %}" class="navbar-link"> Home</a></p>

        <p class="navbar-text customNavBarLink"><a href="{% url 'watershed:twentymindrive_map' %}" class="navbar-link">20-Min-Travel</a></p>
        <p class="navbar-text customNavBarLink"><a href="{% url 'watershed:waterlevel_map' %}" class="navbar-link">Maintainance Service</a></p>
        <p class="navbar-text navbar-right customNavBarLink">
            <a class="navbar-link  " href="http://smartcities.mbrxdram5u.us-west-2.elasticbeanstalk.com/waterevent/"> Stormwater System</a></p>
  </div>
</nav>

<div class="jumbotron text-center">
        <h1>Watershed Management System</h1>
        
        
</div>

<!--
<a href="{% url 'watershed:GenerateGeoRSS' %}" class="btn btn-primary btn-sm active btn-block text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Generate GeoRSS</a>
<br>
-->

<div class="container-fluid">

    <!-- Group of buttons -->
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="{% url 'watershed:watershed_new' %}" class="btn btn-primary btn-md active btn-block text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Watershed</a>
        <a href="{% url 'watershed:wpconnection_new' %}" class="btn btn-primary btn-md active btn-block text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Watershed-Pipe Connection </a>
    </div>
    
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a href="{% url 'watershed:florafauna_new' %}" class="btn btn-info btn-md active text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Flora and Fauna</a>
        <a href="{% url 'watershed:maintenance_new' %}" class="btn btn-info btn-md active text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Maintenance</a>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-info active dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Features
      <span class="caret"></span>
            </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'watershed:manmadefeature_new' %}">Man made</a></li>
                    <li><a href="{% url 'watershed:naturalfeature_new' %}">Natural</a></li>
                </ul>
        </div>
       
        <a href="{% url 'watershed:ffinfo_new' %}" class="btn btn-info btn-md active text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Flora Fauna Info</a>
        <a href="{% url 'watershed:observation_new' %}" class="btn btn-info btn-md active text-center" role="button" aria-pressed="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Observation</a>
        
    </div>
    <br>



    <!--Watershed List-->
   <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h3 class="page-header">Watershed List:</h3>
      <em>Click on the name to see more details</em>
        {% if all_watershed %}
        <div class="list-group">
            {% for watershed in all_watershed %}
            <div class="list-group-item">
                <a href="{% url 'watershed:detail' watershed.watershedID %}" class="h4">{{ watershed.name }}</a>
                
                <span class="pull-right">
                    <a class="btn btn-xs btn-warning" href="{% url 'watershed:watershed_update' watershed.watershedID %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-xs btn-danger" href="{% url 'watershed:watershed_delete' watershed.watershedID %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </span>  
            </div>
            {% endfor %}
        </div>
         {% else %}
            <em> You have no watersheds in your database </em>
        {% endif %}
    </div>

    <!--Flora and fauna List-->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h3 class="page-header">Flora & Fauna List:</h3>
        <em>Click on the name to see more details</em>
    {% if all_florafauna %}
    <div class="list-group">
        {% for florafauna in all_florafauna %}
        <div class="list-group-item">
            <a href="{% url 'watershed:detail_florafauna' florafauna.florafaunaID %}" class="h4">{{ florafauna.name }}</a>

            <span class="pull-right">
                <a class="btn btn-xs btn-warning" href="{% url 'watershed:florafauna_update' florafauna.florafaunaID %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-xs btn-danger" href="{% url 'watershed:florafauna_delete' florafauna.florafaunaID %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </span>


        </div>
        {% endfor %}
    </div>
     {% else %}
        <em> You have no florafaunas in your database </em>
    {% endif %}
    </div>

    <!-- Connections-->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h3 class="page-header">Connection Information:</h3>
        <em>Click on the name to see more details</em>
        {% if all_watershedpipe %}
        <div class="list-group">
            {% for info in all_watershedpipe %}
            <div class="list-group-item">
                <a href="{% url 'watershed:detail_wpconnection' info.connectionID %}" class="h4">{{ info.connectionID }}</a>

                <span class="pull-right">
                    <a class="btn btn-xs btn-warning" href="{% url 'watershed:wpconnection_update' info.connectionID %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-xs btn-danger" href="{% url 'watershed:wpconnection_delete' info.connectionID %}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </span>

            </div>
            {% endfor %}
        </div>
         {% else %}
            <em> You have no Watershed-Pipe connection Information in your database </em>
        {% endif %}
        
    </div>


</div>




    <!-- FOOTER -->
    <footer>
      <div class="container">
          <div class="col-md-6 col-sm-6 footerleft ">
            <div class="title-footer text-center"> About the Project</div>
            <p>This web application was made as part of the class Business Process Analysis, taught at the University of Maryland - Smith School of Business. It is the final project and served as a learning platform for the students to test and understand the different technologies. </p>
            <p>Through out the project, we learned the agile methodology and did a total of 6 sprints. Some of the techonologies and tools used in this app include Django, Python, ArcGis, Amazon AWS and Bootstrap .</p>


          </div>
          <div class="col-md-6 col-sm-6 paddingtop-bottom text-center">
            <h6 class="title-footer">About us</h6>
            <ul class="footer-ul text-center">
              <li><a href="https://www.linkedin.com/in/amiyakumardas/"> Amiya Das<br/> <i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/melissa-delcid-94380a8b/"> Melissa Delcid<br> <i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/kanchan-markandeya-041ba1b5/"> Kanchan Markandeya<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/yangmen/">Yang Men<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/zheng-gong-78396777/">Zheng Gong<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
              <li><a href="https://www.linkedin.com/in/gonche1124/"> Andres Gonzalez<br/><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></li>
            </ul>
          </div>
      </div>
    </footer>




</body>
</html>

